<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <!--value表示日志的路径-->
  <variable name="logDir" value="${basedir}logs"/>
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}">
    </target>
    <target name="info" xsi:type="File" fileName="${logDir}/Info_${date:format=yyyyMMdd}.txt"
            layout="${date:format=HH\:mm\:ss}|${message}"
            archiveAboveSize="5000000" encoding="utf-8"/>
    <target name="trace" xsi:type="File" fileName="${logDir}/Trace_${date:format=yyyyMMdd}.txt"
            layout="${date:format=HH\:mm\:ss}|${message}"
            archiveAboveSize="5000000" encoding="utf-8"/>
    <target name="warn" xsi:type="File" fileName="${logDir}/Warn_${date:format=yyyyMMdd}.txt"
            layout="${date:format=HH\:mm\:ss}|${stacktrace}|${message}"
            archiveAboveSize="5000000" encoding="utf-8"/>
    <target name="exception" xsi:type="File" fileName="${logDir}/Error_${date:format=yyyyMMdd}.txt"
            layout="${date:format=HH\:mm\:ss}|${stacktrace}|${message}"
            archiveAboveSize="5000000" encoding="utf-8"/>
    <target name="fatal" xsi:type="File" fileName="${logDir}/Fatal_${date:format=yyyyMMdd}.txt"
            layout="${date:format=HH\:mm\:ss}|${stacktrace}|${message}"
            archiveAboveSize="5000000" encoding="utf-8"/>
  </targets>

  <rules>
    <!--路由规则，表示每个级别的日志所对应的target目标路径，writeTo 对应target中的name-->
    <logger name="*" level="Info" writeTo="info,console"/>
    <logger name="*" level="Trace" writeTo="trace,console"/>
    <logger name="*" level="Warn" writeTo="warn" />
    <logger name="*" level="Error" writeTo="exception"/>
    <logger name="*" level="Fatal" writeTo="fatal"/>
    <!--<logger name="*" level="Debug" writeTo="Debug"/>-->
  </rules>
</nlog>
